.sidebar {
    max-width: 100%;
    min-height: 400px;
    margin-top: 35px;
    box-shadow: 0px 0px 5px 0px rgba(182, 182, 182, 0.75);
    padding: 20px 15px 20px 15px;
    border-radius: 6px;
    overflow-x: hidden;

    .label-sidebar {
        font-size: 18px;
    }

    .side-category {

        .clear-filter {
            >button {
                outline: none;
                border: 1px solid rgb(170, 170, 170);
                border-radius: 8px;
                padding: 3px;
                background-color: transparent;
                width: 80px;
                float: right;
                color: rgb(170, 170, 170);
                transition: all 0.2s ease-in;

            }

            >button:hover {
                background: rgba(182, 182, 182, 0.75);
                color: white;
            }
        }
    }

    .category-fill {
        margin-top: 20px;
    }
}

.price-range{
    // border: 1px solid;
}
.price{
    margin-top: 10px;
    display: inline-block;
    // border: 1px solid;
    width: 100%;
    >input{
        display: inline-block;
        width: 90px;
        outline: none;
        border: 1px solid rgb(175, 175, 175);
        padding: 8px 8px 8px 30px;
        border-radius: 10px;
        height: 25px;
    }
    >input:nth-of-type(2){
        float: right;
    }
}

.ant-slider-track{
    background-color: rgb(38, 255, 74);
}
ant-slider-handle{
    background-color: rgb(38, 255, 74);
}