.form-custom {
  width: 100%;
  height: 45px;
  border: none;
  font-size: 16px;
  font-weight: 90;
  margin-top: 10px;
  border-bottom: 1px solid rgb(177, 177, 177);
  transition: all 0.2s ease-in-out;
  font-family: "Raleway", sans-serif;
}

.form-custom:nth-child(3) {
  margin-top: 30px;
}

.form-custom::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: rgb(177, 177, 177);
}

.form-custom:focus {
  outline: none;
  border-bottom: 1px solid rgb(81, 247, 48);
}

.is-invalid {
  border-bottom: 1px solid red !important;
}

.is-invalid:focus {
  border-bottom: 1px solid red !important;
}

.feedback-error {
  font-size: 12px;
  margin-top: 3px;
  color: red;
}

.input-icons {
  span {
    position: relative;
    float: right;
    margin: -15px 2px;
    color: rgb(177, 177, 177);
    cursor: pointer;
  }
}